{% extends 'base.html' %}

<!-- Page Title -->
{% block title %}Activity{% endblock %}

<!-- Body Content -->
{% block content %}
<div class="container">

    <div class="container text-center my-5">
        <h6 class="text-uppercase text-body-tertiary">Activity</h6>
    </div>

    {% if activity %}
    <!-- Image Here -->
    <div class="row">
        <div id="carousel{{ activity.id }}" class="carousel slide carousel-fade col-md-9 col-12 mx-auto"
            data-bs-ride="carousel">
            <div class="carousel-inner">
                <!-- Date Here -->
                <div class="text-end small-date-text"><small>{{ activity.date_added.strftime('%d %B %Y')
                        }}</small></div>
                {% for url in activity.img_urls %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <img src="{{ url }}" class="img-fluid w-100 mx-auto img-thumbnail bg-secondary-subtle" alt="img">
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ activity.id }}"
                data-bs-slide="prev">
                <i class="bi bi-chevron-left text-body-tertiary fw-lighter display-6 d-none d-lg-block"></i>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ activity.id }}"
                data-bs-slide="next">
                <i class="bi bi-chevron-right text-body-tertiary fw-lighter display-6 d-none d-lg-block"></i>
            </button>
        </div>
    </div>

    <!-- Title -->
    <div class="col-12 col-md-8 mx-auto mt-2 mb-5 px-3 text-center">
        <p class="text-capitalize fw-medium m-0 p-0">{{ activity.title }}</p>
    </div>
    {% else %}
    <div class="col-12 col-sm-8 col-md-7 mx-auto text-center mb-5">
        <h1 class="text-capitalize fw-medium fs-6">No Activities Found</h1>
    </div>
    {% endif %}
</div>
{% endblock %}