{% extends "base.html" %}

<!-- Page Title -->
{% block title %}List Activities{% endblock %}

<!-- Body Content -->
{% block content %}
<div class="container">
    <div class="container text-center mt-3 mb-5 border-bottom">
        <h1 class="display-1 fw-bold text-capitalize text-body-tertiary">Activities</h1>
    </div>

    {% if activities %}
    <div class="row">
        {% for activity in activities %}
        <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch mb-4">
            <div class="card w-100 h-100 shadow-sm">

                <a href="{{ url_for('main.get_activity', id=activity.id) }}" class="link-dark link-underline-opacity-0">
                    <!-- Carousel -->
                    <div id="carousel{{ activity.id }}" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-inner" style="height: 250px; overflow: hidden;">
                            <div class="text-end small-date-text p-2">
                                <small>{{ activity.date_added.strftime('%d %B %Y')
                                    }}</small>
                            </div>
                            {% for url in activity.img_urls %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <img src="{{ url }}" class="img-fluid w-100 h-100 object-fit-cover" alt="img">
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ activity.id }}"
                            data-bs-slide="prev">
                            <i class="bi bi-chevron-left text-body-tertiary fw-lighter display-6 d-none d-lg-block"></i>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ activity.id }}"
                            data-bs-slide="next">
                            <i
                                class="bi bi-chevron-right text-body-tertiary fw-lighter display-6 d-none d-lg-block"></i>
                        </button>
                    </div>

                    <!-- Title -->
                    <div class="card-body text-center d-flex flex-column justify-content-center"
                        style="min-height: 80px;">
                        <p class="text-capitalize fw-medium m-0 p-0">
                            <span class="text-body-tertiary fw-semibold me-1">Title:</span>
                            <small>{{ activity.title }}</small>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="col-12 col-sm-8 col-md-7 mx-auto text-center mb-5">
        <h1 class="text-capitalize fw-medium fs-6">No Activities Found</h1>
    </div>
    {% endif %}

    <!-- Pagination -->
    {% if total_pages > 1 %}
    <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination justify-content-center">

            <!-- First -->
            {% if page > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('main.activities', page=1) }}">First</a>
            </li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">First</span></li>
            {% endif %}

            <!-- Previous -->
            {% if page > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('main.activities', page=page-1) }}"><span
                        aria-hidden="true">&laquo;</span></a>
            </li>
            {% else %}
            <li class="page-item disabled"><span class="page-link"><span aria-hidden="true">&laquo;</span></span></li>
            {% endif %}

            <!-- Sliding window: 3 pages -->
            {% set start_page = page - 1 if page - 1 > 1 else 1 %}
            {% set end_page = page + 1 if page + 1 < total_pages else total_pages %} {% if start_page> 1 %}
                <li class="page-item disabled"><span class="page-link">...</span></li>
                {% endif %}

                {% for p in range(start_page, end_page + 1) %}
                <li class="page-item {% if p == page %}active{% endif %}">
                    <a class="page-link" href="{{ url_for('main.activities', page=p) }}">{{ p
                        }}</a>
                </li>
                {% endfor %}

                {% if end_page < total_pages %} <li class="page-item disabled"><span class="page-link">...</span></li>
                    {% endif %}

                    <!-- Next -->
                    {% if page < total_pages %} <li class="page-item">
                        <a class="page-link" href="{{ url_for('main.activities', page=page+1) }}"><span
                                aria-hidden="true">&raquo;</span></a>
                        </li>
                        {% else %}
                        <li class="page-item disabled"><span class="page-link"><span
                                    aria-hidden="true">&raquo;</span></span></li>
                        {% endif %}

                        <!-- Last -->
                        {% if page < total_pages %} <li class="page-item">
                            <a class="page-link" href="{{ url_for('main.activities', page=total_pages) }}">Last</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled"><span class="page-link">Last</span></li>
                            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}